body{
    font-family: 'Poppins', sans-serif;
 margin: 0;

}
.sec-1{
    display: flex;
    margin-bottom: 100px;

}
.red-color{
    color: brown;
}

.link{
    background-color: pink;
padding:11px 40px;
color:rosybrown;
font-weight: 700px;
border-radius: 5px;
background-position-y: center;
}
.half-width{
    width: 50%;
    margin: 5%;
    
}
.is{
    background-color: darkseagreen;
    width:100%;
    padding: 3%;
    background-image: linear-gradient(pink, white);
    background-repeat: no-repeat;
  
    border-radius: 4%;
    text-align: center;
    text-size-adjust: 20px;
}
.sec-2{
    display: flex;
background-image: url(images/shapes/7.png);
background-repeat: no-repeat;
}
.half{
    width: 50%;
}
.sec-3{
    display: flex;
}
.alain{
   
    width:100%;
    padding: 3%;
    background-image: linear-gradient(rgb(243, 203, 209));
    background-repeat: no-repeat;
  
    border-radius: 4%;
    text-align: center;
    text-size-adjust: 11px;
    
}
.mm{
    display: flex;
}
.nn{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px 10px rgb(212, 145, 107);
    text-align: center;
    
}
#zz{
    border-left: 7px solid;
    border-image: linear-gradient(rgba(241, 189, 130, 0.822), rgb(214, 114, 75));
    border-image-slice: 1;
}
.fw{

    background-color: rgb(255, 193, 165);
    width:100%;
    padding: 3%;
    background-image: linear-gradient (rgb(255, 190, 221),);
    background-repeat: no-repeat;
  
    border-radius: 4%;
    text-align: center;
 
}
.sec-3{
    display: flex;
}
.food{
    text-align: center;
    width: 100%;
    padding: 5%;
    text-size-adjust: 15px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.copy-right{
    background-color: rgb(255, 238, 216);
    width:100%;
    padding: 3%;
    background-image: linear-gradient(black);
    background-repeat: no-repeat;
  
    border-radius: 4%;
    text-align: center;
    text-size-adjust: 70px;

}
