body{
    font-family: 'Poppins', sans-serif;
 margin: 0;
}
.sec-1{
    display: flex;
    margin-bottom: 100px;
}
.red-color{
    color: darkred;
}
.link{
    background-color: pink;
padding:11px 40px;
color:rosybrown;
font-weight: 700px;
border-radius: 5px;
background-position-y: center;
}
.half-width{
    width: 50%;
    margin: 5%;
}
.fw{
    background-color: darkseagreen;
    width:100%;
    padding: 3%;
    background-image: linear-gradient(rgb(255, 193, 165), white);
    background-repeat: no-repeat;  
    border-radius: 4%;
    text-align: center;
    text-size-adjust: 20px;
}
.sec-2{
 display: flex;
background-image: url(images/shapes/7.png);
background-repeat: no-repeat;
}
.half{
    width: 50%;
}
.section-4{
    display: flex;
}
.section-3{
    display: flex;
}
.nn{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px 10px rgb(212, 145, 107);
    text-align: center;   
}
#food{
    border-left: 7px solid;
    border-image: linear-gradient(rgba(241, 189, 130, 0.822), rgb(214, 114, 75));
    border-image-slice: 1;
}
.sec-3{
    display: flex;
}
.food{
    text-align: center;
    width: 100%;
    padding: 5%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
